.app {
    height: 325rem;
}

/* Slider */
.slider {
    position: relative;
}
.slider .slide {
    transition: 1s ease-in-out;
}
.slide img {
    width: 400vw;
}
.slider .slider__btn {
    position: absolute;
    top: 70%;
}
.slider .slider__btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.slider .btn-next {
    right: 5rem;
}
.slider .btn-prev {
    left: 5rem;
}
.slider .slider__btn i {
    color: var(--white-color);
    font-size: 5rem;
}

/* Photos */
.photos {
    background-color: #010125;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-0.5rem);
}
.photos .video {
    width: 80%;
    height: 65%;
    margin: 10rem 0;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(222, 222, 62, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    overflow: hidden;
    position: relative;
}
.photos .video video {
    width: 100%;
    height: 100%;
    transform: translateY(1px);
}
.photos .video__btn {
    font-size: 8rem;
    color: var(--star-color);
    position: absolute;
    top: 40%;
    left: 45%;
}
.photos .video__btn:hover {
    opacity: 0.8;
}
.photos .Photos__Btn {
    transform: translateY(-4rem);
}
/* Tour */
.tour {
    padding: 5rem 14rem;
    transform: translateY(-5px);
    height: 920px;
    background-image: url(../sources/Images/BGTour.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.tour__quote {
    padding-top: 9rem;
    width: 100%;
    text-align: center;
    font-family: "Bangers", cursive;
    font-size: 10rem;
    color: var(--white-color);
    transform: rotate(-3deg);
    text-transform: uppercase;
}
.tour__body {
    display: flex;
    padding-top: 10rem;
    justify-content: space-between;
    height: 70%;
}
.tour__intro {
    flex-basis: 50%;
    height: 100%;
    line-height: 1.5;
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 100;
}
.tour__btn {
    margin-top: 5rem;
    width: 30rem;
}
.tour__img {
    position: relative;
}
.tour__img img {
    position: absolute;
    width: 40rem;
    top: 1rem;
    right: -4rem;
}

/* Decscription */
.desc {
    padding: 5rem 14rem;
    background-image: linear-gradient(to bottom, #06053e, #172088);
    height: 38rem;
    display: flex;
    justify-content: space-between;
    transform: translateY(-9rem);
}
.desc__star {
    color: var(--star-color);
    font-size: 4rem;
    letter-spacing: -6px;
    text-align: center;
    padding-bottom: 3rem;
}
.desc__body {
    font-family: "Sedgwick Ave", cursive;
    font-size: 3.5rem;
    color: var(--white-color);
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}
.desc__author {
    padding-top: 0.5rem;
    text-align: center;
    color: var(--star-color);
    font-family: "Teko", sans-serif;
    font-size: 2rem;
}
